@model SupportYourSite.Models.Website
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <h4>Payment was successful!</h4>
    <hr />
    <p>Thank-you for your donations to @Model.Name</p>
</div>
